<style>
  #buttonNextPage, #buttonBackPage{
    display: inline-block;
    padding: 5px 14px;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 15px;
  }
</style>

 <div >
  <table class="table table-hover">
    <thead>
      <tr>
        <th ng-repeat="column in tables.cols"><finder filter="{{column}}"/></th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th ng-repeat="column in tables.cols">{{column}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in tables.rows">
        <td ng-repeat="column in tables.cols" ng-dblclick="show(row)">{{row[column]}}</td>
      </tr>
    </tbody>

  </table>

  <div align="center">
    <button id="buttonBackPage" ng-click="pagination.previousPage()">Anterior</button>
        {{pagination.main.page}}/{{metas.total_pages}}
    <button id="buttonNextPage" ng-click="pagination.nextPage()">Siguiente</button>
  </div>
</div>
